.jumbotron {
    color: white;
    height: 50%;
}

.container {
    max-width: 95%;
}

.card {
    margin-top: 0px;
    margin-bottom: 10px;
}

h6 {
    display: inline;
}
#tv-medium-widget-7b7d2 {
    margin-top: 0px;
}